html, button, input, select, textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
@font-face {
  font-family: 'CooperHewitt-Light';
  src: url('CooperHewitt-Light.eot');
  src: url('CooperHewitt-Light.eot?#iefix') format('embedded-opentype'), url('CooperHewitt-Light.woff') format('woff'), url('CooperHewitt-Light.ttf') format('truetype'), url('CooperHewitt-Light.svg#webfont') format('svg');
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #000000;
  text-shadow: none;
}
::selection {
  background: #000000;
  text-shadow: none;
}

/* ==========================================================================
Chrome Frame prompt
========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Navbar Styling
========================================================================== */

#navi {
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
  margin-top: 0px;
  z-index: 99999;
  position: absolute;
  float: right;
  margin-left: 60%;
}
#navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
  float: right;
}
#navi ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navi ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navi.align-right ul li {
  float: right;
}
#navi.align-center ul {
  text-align: center;
}
#navi ul li a {
  color: #292929;
  text-decoration: none;
  display: block;
  padding: 10px 25px;
  font-family: 'CooperHewitt-Thin', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navi ul li a:hover {
  color: #f7b19a;
}
#navi ul li a:hover:before {
  width: 100%;
}
#navi ul li a:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background: #f57247;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navi ul li.last > a:after, #navi ul li:last-child > a:after {
  display: none;
}
#navi ul li.active a {
  color: #ffffff;
}
#navi ul li.active a:before {
  width: 100%;
}
#navi.align-right li.last > a:after, #navi.align-right li:last-child > a:after {
  display: block;
}
#navi.align-right li:first-child a:after {
  display: none;
}

/* ==========================================================================
Body Styling
========================================================================== */

body, html {
  height: 100%;
  min-height: 100%;
  background-color: #000000;
  font: 100%/1.5em 'CooperHewitt', sans-serif;
}
h1, h2, h3 {
  font-family: 'CooperHewitt', sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin-top: 0;
}
.no-js {
  padding-top: 106px;
}

/* Placeholder*/

.cover .placeholder {
  position: relative;
  background-image: url('/img/contactbkgd.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
#hire {
  z-index: 500;
  font-size: 62.5%;
  font-family: 'CooperHewitt', sans-serif;
  font-weight: 300;
  color: #d5d5d5;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-top: 18vmin;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 4.5vh 0 6vw;
  width: 48%;
  max-width: 50vw;
  -webkit-box-shadow: 2px 2px 21px -5px rgba(43, 43, 43, 0.87);
  -moz-box-shadow: 2px 2px 21px -5px rgba(43, 43, 43, 0.87);
  box-shadow: 2px 2px 21px -5px rgba(43, 43, 43, 0.87);
}
body section h1 {
  padding-top: 2vh;
  margin-bottom: 4vh;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'CooperHewitt-Semibold', sans-serif;
  background: #e9582b;
  color: white;
  font-weight: 500;
}
form {
  z-index: 500;
  width: 62%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 1.8vh;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #414141;
  width: 100%;
  padding: 2vh 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 1.5vh;
  left: 7%;
  font-size: 2em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"], form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  padding: 2vh 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}
form .field input[type="text"]#msg, form .field textarea#msg {
  height: 6vh;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused, form .field textarea:focus, form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg, form .field textarea:focus#msg, form .field textarea.focused#msg {
  padding-bottom: 15vh;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label, form .field textarea:focus + label, form .field textarea.focused + label {
  width: 18%;
  background: #e9582b;
  color: #313A3D;
}
form .field input[type="text"].focused + label, form .field textarea.focused + label {
  color: #e9582b;
}
form .field:hover label {
  width: 18%;
  background: #e9582b;
  font-size: 1.4em;
  color: white;
}

/*send button */

form input[type="submit"] {
  background: #e9582b;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  margin-top: 3vh;
  padding: 2vh 2vw;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #e9582b;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}
.phone {
  display: none;
}
form input[type="text"]#subject {
  display: none;
}
#thanks {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'CooperHewitt-Light', sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  color: #b8b8b8;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#copyright {
  display: inline-block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'CooperHewitt-Light', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  color: #5acecf;
  text-align: center;
  letter-spacing: 0.1em;
}
.social {
  display: inline-block;
  width: 5vmin;
  height: 5vmin;
  margin: 0vh 0.7vmax;
  opacity: 0.5;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#github {
  background-image: url('/img/github-icon.png');
}
#facebook {
  background-image: url('/img/facebook-icon.png');
}
#linkedin {
  background-image: url('/img/linkedin-icon.png');
}
#youtube {
  background-image: url('/img/youtube-icon.png');
}
#soundcloud {
  background-image: url('/img/soundcloud-icon.png');
}
.footerlinks {
  padding-top: 10vh;
}
footer {
  background-color: #222222;
  height: 45vh;
  position: relative;
}

/* ==========================================================================
Media Queries
========================================================================== */

@media (max-width: 480px) {
  body, html {
    height: 100%;
    min-height: 100%;
    background-image: url('/img/contact-phone.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    font: 100%/1.5em 'CooperHewitt', sans-serif;
  }
  .not-phone {
    display: none;
  }
  .phone {
    display: block;
  }
  .phone a {
    font-family: 'CooperHewitt-Light', sans-serif;
    font-size: 1.5em;
    padding: 2vh 2vw;
    font-weight: 100;
    text-align: center;
    -webkit-box-shadow: 2px 2px 21px -5px rgba(43, 43, 43, 0.87);
    -moz-box-shadow: 2px 2px 21px -5px rgba(43, 43, 43, 0.87);
    box-shadow: 2px 2px 21px -5px rgba(43, 43, 43, 0.87);
  }
  #number {
    color: #e9582b;
    background-color: rgba(230, 230, 230, 0.8);
    margin-top: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  #email {
    color: #e2dede;
    background-color: rgba(235, 87, 30, 0.8);
    letter-spacing: 0.1em;
    margin-top: 55vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
 * Don't show links for images, or javascript/internal links
 */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
